
/* --- --- Doc Popup Window --- --- */

.monaco-editor .monaco-hover {
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.2);
  margin: -4px;
  padding: 4px;
}


/* --- --- IntelliSense Window --- --- */

.monaco-editor .suggest-widget {
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.2);
  margin: 4px;
  padding: 8px
}

